:root {
  --color-green: #00d68e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  line-height: 1.1rem;
}

section.main {
  height: 100vh;
  width: 100%;
}

.header {
  display: flex;
  padding: 1.7rem 0;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey);
}

.padding-lr {
  padding-left: 5.1rem;
  padding-right: 5.1rem;
}

.logo img {
  height: 30px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li:not(:last-child) {
  margin-right: 2rem;
}

.menu ul li a {
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--color-green);
}

.menu ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin: 0 auto;
  background-color: var(--color-green);
  transition: 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.menu ul li a.active {
  color: var(--color-green);
}

.menu ul li a.active::after {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  margin: 0 auto;
  background-color: var(--color-green);
}

.cta a:not(:last-child) {
  margin-right: 5px;
}

.btn {
  padding: 10px;
  border: 1px solid var(--color-black);
  border-radius: 7px;
}

.button {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
}

/* Hero Section */
.hero {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.pricing {
  text-align: center;
  padding-top: 2.5rem;
  margin: 0 auto;
  width: 100%;
}

.pricing h1 {
  font-family: "Irish Grover", cursive;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.502);
  margin-bottom: 2rem;
}

.card-components {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* flex: 0.8; */
  height: 21.875rem; /*400px*/
  width: 20%;
  border-radius: 0.625rem;
  text-align: left;
  /* border: 2px solid var(--color-black); */
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.1);
  padding: 2rem 1.5rem;
}

.white {
  background-color: var(--color-green);
}

.card:not(:last-child) {
  margin-right: 1rem;
}

.card h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.card p {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.card a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.4375rem;
  width: 100%;
  text-align: center;
  margin-bottom: 1.5rem;
}

.white a {
  background-color: var(--color-white);
  color: var(--color-black);
}

.money hr {
  display: inline block;
  margin-bottom: 1rem;
}

.money span {
  font-weight: 600;
}

.money p {
  color: rgba(0, 0, 0, 0.502);
}

.account {
  font-size: 0.75rem;
}

.account img {
  width: 0.5rem;
}

.account span {
  font-weight: 600;
}
