:root {
  --color-green: #00d68e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-lightGreen: #f5fffc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  /* font-family: 'Irish Grover', cursive; */
  font-size: 0.875rem;
  line-height: 1.1rem;
  background-color: var(--color-lightGreen);
}

.header {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.logo img {
  height: 30px;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li:not(:last-child) {
  margin-right: 2rem;
}

.menu ul li a {
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--color-green);
}

.menu ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin: 0 auto;
  background-color: var(--color-green);
  transition: 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.cta a:not(:last-child) {
  margin-right: 5px;
}

.btn {
  padding: 10px;
  border: 1px solid var(--color-black);
  border-radius: 10px;
}

.button {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
}

.container {
  display: block;
  width: 541px;
  height: 450px;
  background-color: var(--color-white);
  margin: 60px auto 0px auto;
}
