:root {
  --color-green: #00d68e;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-lightGreen: #f5fffc;
  --color-grey: #f6f6f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

li {
  list-style: none;
}

body {
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  /* font-family: 'Irish Grover', cursive; */
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.1rem;
  background-color: var(--color-lightGreen);
}

/* Header styles */
.header {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
}

.logo img {
  height: 1.875rem; /* 30px */
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu ul li:not(:last-child) {
  margin-right: 2rem;
}

.menu ul li a {
  font-weight: 500;
}

.menu ul li a:hover {
  color: var(--color-green);
}

.menu ul li a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  margin: 0 auto;
  background-color: var(--color-green);
  transition: 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 100%;
}

.cta a:not(:last-child) {
  margin-right: 0.3125rem; /* 5px */
}

.btn {
  padding: 0.625rem; /*10px*/
  border: 1px solid var(--color-black);
  border-radius: 7px;
}

.button {
  border: 1px solid var(--color-green);
  background-color: var(--color-green);
  color: var(--color-white);
}

/* form styles */

.container {
  display: block;
  width: 26.25rem; /*420px*/
  height: 29.53125rem; /*472.5px*/
  /* width: 35%;
  height: 75%; */
  background-color: var(--color-white);
  margin: 2.8125rem auto 0 auto;
  border-radius: 0.625rem; /*10px*/
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 4rem 2.8125rem;
}

.text-header {
  margin-bottom: 2.5rem;
}

.text-header h2 {
  font-size: 1.125rem;
  margin-bottom: 0.125rem;
}

.text-header p {
  font-size: 0.75rem;
}

.form {
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* gap: 4px; */
  margin-bottom: 2.5rem;
}

.form input {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 0.4375rem;
  background-color: var(--color-grey);
  border: var(--color-grey);
  border-radius: 0.3125rem;
  font-size: 0.75rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.form button {
  width: 100%;
  height: 2.5rem;
  background-color: var(--color-green);
  border: var(--color-green);
  border-radius: 0.3125rem;
  color: var(--color-grey);
  /* font-size: 0.75rem; */
  font-weight: 600;
}

.reset {
  font-size: 0.75rem;
}

.reset a {
  color: var(--color-green);
}

/* Login page styles */
.password {
  margin-bottom: 2.5rem;
}

.password a {
  color: #666666;
}

.sign-up {
  color: var(--color-green);
  font-size: 0.75rem;
}
